.button{
    width: 200px;
    height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
#distPlot{
    height: 600px !important;
}
.center{
    margin-left: -7.5px;
    padding-bottom: 15px ; 
    text-align:center;
    margin-top : 10px;
}
.tab-content{
    margin-top : 30px;
}
.header{
    padding: 10px 0px ;
    margin: 10px 0px 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.well{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);  
}